 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 252px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px 570px 0 84px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 1px 593px 60px 84px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 454px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 477px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 234px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 257px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 54px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 77px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1160px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1135px;
}

.u-section-2 .u-container-layout-1 {
  padding: 23px 30px;
}

.u-section-2 .u-form-1 {
  --checkbox-checked-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  height: 1075px;
  width: 880px;
  margin: 7px auto 0;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
}

.u-section-2 .u-input-1 {
  background-image: none;
  --radius: 8px;
}

.u-section-2 .u-label-2 {
  font-weight: 700;
}

.u-section-2 .u-input-2 {
  background-image: none;
  --radius: 8px;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-label-3 {
  font-weight: 700;
}

.u-section-2 .u-input-3 {
  background-image: none;
  --radius: 8px;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-label-4 {
  font-weight: 700;
}

.u-section-2 .u-input-4 {
  background-image: none;
  --radius: 8px;
}

.u-section-2 .u-form-group-5 {
  margin-left: 0;
}

.u-section-2 .u-label-5 {
  font-weight: 700;
}

.u-section-2 .u-input-5 {
  background-image: none;
  --radius: 8px;
}

.u-section-2 .u-form-group-6 {
  margin-left: 0;
}

.u-section-2 .u-label-6 {
  font-weight: 700;
}

.u-section-2 .u-input-6 {
  background-image: none;
  --radius: 8px;
}

.u-section-2 .u-form-group-7 {
  margin-left: 0;
}

.u-section-2 .u-label-7 {
  font-weight: 700;
}

.u-section-2 .u-input-7 {
  background-image: none;
  --radius: 8px;
}

.u-section-2 .u-form-group-8 {
  margin-left: 0;
}

.u-section-2 .u-label-8 {
  font-weight: 700;
}

.u-section-2 .u-input-8 {
  background-image: none;
  --radius: 8px;
}

.u-section-2 .u-form-group-9 {
  margin-left: 0;
}

.u-section-2 .u-label-9 {
  font-weight: 700;
}

.u-section-2 .u-input-9 {
  background-image: none;
  --radius: 8px;
}

.u-section-2 .u-form-group-10 {
  margin-left: 0;
}

.u-section-2 .u-label-10 {
  font-weight: 700;
}

.u-section-2 .u-input-10 {
  background-image: none;
  --radius: 8px;
}

.u-section-2 .u-label-11 {
  font-weight: 700;
}

.u-section-2 .u-input-11 {
  background-image: none;
  --radius: 8px;
}

.u-section-2 .u-line-1 {
  height: 0;
}

.u-section-2 .u-text-1 {
  margin-left: 0;
  font-weight: 700;
}

.u-section-2 .u-form-group-14 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  width: 11%;
  --radius: 25px;
  text-transform: none;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1263px;
  }

  .u-section-2 .u-form-1 {
    height: 1133px;
    margin-top: 8px;
  }

  .u-section-2 .u-btn-1 {
    width: 18%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1314px;
  }

  .u-section-2 .u-form-1 {
    width: 580px;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-form-1 {
    width: 480px;
    margin-right: 110px;
    margin-left: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-form-1 {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    width: 30%;
  }
}